@model RoleManagmentVM
<div class="card shadow border-0 mt4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h1>Manage User Role</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4" >
        <form method="post" class="row">
            <div class="border-0  p-3 ">
                <div class="form-floating py-2 col-12">
                    <input asp-for="ApplicationUser.Name" class="form-control" />
                    <label asp-for="ApplicationUser.Name"></label>
                    <span asp-validation-for="ApplicationUser.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select"></select>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="ApplicationUser.CompanyId" asp-items="@Model.CompanyList" class="form-select"></select>
                </div>
                <div class="row pt-4">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index"  class=" border btn btn-secondary form-control">Go to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            if ($('#ApplicationUser_Role Option:Selected').text() == "Company"){
                $('#ApplicationUser_CompanyId').show();
            }
            else{
                $('#ApplicationUser_CompanyId').hide();
            }
            $('#ApplicationUser_Role').change(function () {
                var selection = $('#ApplicationUser_Role Option:Selected').text();
                if (selection == "Company") {
                    $('#ApplicationUser_CompanyId').show();
                }
                else {
                    $('#ApplicationUser_CompanyId').hide();
                }
            })
        });
    </script>
}